.link-default {
  text-decoration: none;
  color: aliceblue;
  padding: 0 10px;
}
.link-create {
  text-decoration: none;
  color: aliceblue;
  padding: 3px 10px;
  margin: 0 0 10px 0;
  background-color: rgb(0, 140, 255);
  font-size: 16px;
  border: none;
}
.link-detail {
  text-decoration: none;
  color: aliceblue;
  padding: 2px 10px;
  margin: 0 1px 0 10px;
  background-color: rgb(0, 60, 255);
  font-size: 14px;
}
.link-update {
  border: none;
  text-decoration: none;
  color: aliceblue;
  padding: 3px 10px;
  margin: 0 1px;
  background-color: rgb(2, 184, 71);
  font-size: 14px;
}
.link-delete {
  border: none;
  text-decoration: none;
  color: aliceblue;
  padding: 3px 10px;
  margin: 0 1px;
  background-color: rgb(255, 0, 106);
  font-size: 14px;
}

.true-box {
  padding: 3px 10px;
  margin-top: 20px;
  color: #174704;
  background-color: #5af51d;
}
.false-box {
  padding: 3px 10px;
  margin-top: 20px;
  color: #47040f;
  background-color: #f51d65;
}

/* form */
.create-form input {
  width: 200px;
  display: block;
  text-align: left;
  margin: 5px 0 10px 0;
}
